<tr id="position-<%= position.id %>">
  <% unless local_assigns[:skip_company] %>
    <td class="company"><%= position.company.name %></td>
  <% end %>
  <td class="title"><%= link_to(position.title, position_path(position)) %></td>
  <td class="location"><%= position.location %></td>
  <td class="technologies">
    <ul class="technologies-list">
      <% position.technologies.each do |technology| %>
        <li><%= technology.name %></li>
      <% end %>
    </ul>
  </td>
  <td class="updated">
    <%= time_ago_in_words(position.created_at) %> ago
  </td>
</tr>