<div id="company">
  <% unless local_assigns[:skip_company] %>
    <div class="company-info">
      <div class="company-name">
        <strong><%= link_to(company.name, company_path(company.name))%></strong>
      </div>
      <div class="company-description">
        <%= company.description %>
      </div>    
    </div>
  <% end %>
  <div class="positions">
    <% company.positions.each do |position| %>
      <div class="position row">
        <div class="title col-md-3"><%= link_to(position.title, position_path(position)) %></div>
        <div class="location col-md-3"><%= position.location %></div>
        <div class="technologies col-md-3">
          <div class="technologies-list">
            <%= position.technologies.map(&:name).join(', ') %>
          </div>
        </div>
        <div class="updated col-md-3">
          <%= time_ago_in_words(position.created_at) %> ago
        </div>
      </div>
    <% end %>
  </div>
</div>